---
const { title = 'Malte' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
      }
      h2, h3, h4, h5, h6 {
        font-weight: 500;
      }
      @media (min-width: 768px) {
        html,
        body {
          font-size: 20px; 
        }
      }
    </style>

    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

